
sqeudulerApp/obj/sqeudulerApp.csproj.nuget.cache
*.dll
sqeudulerApp/.vs/sqeudulerApp/v15/.suo
sqeudulerApp/.vs/sqeudulerApp/v16/.suo
*.ide
*.lock
.vs/sqeudulerApp/v16/Server/sqlite3/storage.ide
.vs/sqeudulerApp/v16/.suo
.vs/Squeduler/v16/.suo
sqeudulerApp/bin/Debug/netcoreapp3.0/appsettings.Development.json
sqeudulerApp/bin/Debug/netcoreapp3.0/Properties/launchSettings.json
sqeudulerApp/bin/Debug/netcoreapp3.0/sqeudulerApp.deps.json
*.cache
