@model IEnumerable<sqeudulerApp.Models.User>

@{
    ViewData["Title"] = "Forgot Password";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <link rel="stylesheet" a href="~/css/bootstrap.css" />
    <script src="~/js/bootstrap.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    @* JS to open modal popup *@
    <script src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnShowCreate").click(function () {
                $("#CreateGroupPopup").modal('show');
            })
            $("#btnCancelCreate").click(function () {
                $("#CreateGroupPopup").modal('hide');
            });
        });
    </script>
    @* end of JS to open modal popup *@

    <title>Home | Password Reset</title>
    <style>
        .form {
            padding: 25px;
        }

        .top-row {
            background-color: #e6e6e6;
            padding: 10px;
        }

        .loginForm {
            padding: 5%;
        }

        .logo {
            height: 100%;
            width: 150px;
            background-color: grey;
            color: white;
            border: 1px solid grey;
            border-radius: 3px;
        }

        .header {
            padding-top: 5%;
        }

        .btn {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row top-row border rounded">
            <div class="col-2 text-center top-logo">
                <h3 class="logo">Squeduler</h3>
            </div>
            <div class="col-10 text-right">
                <button type="button" class="btn btn-outline-secondary">Login</button>
                <button type="button" class="btn btn-light">Sign up</button>

            </div>
        </div>
        <div class="row header">
            <div class="col text-center">
                <h3>Squeduler</h3>
                <br />
                <h4>The tool for shift scheduling</h4>
            </div>
        </div>
        <div class="row justify-content-center form">
            <div class="col-6">
                <form class="border rounded loginForm">
                    <div class="form-group">
                        <label>Email: </label>
                        @using (Html.BeginForm("ForgotPassword", "UserController", FormMethod.Post))
                        {
                            <input type="text" class="form-control" id="email" name="email" placeholder="Enter email">
                            <br />
                            <button type="submit" id="ResetPassword" class="btn btn-outline-secondary btn-lg">Reset Password</button>
                        }
                    </div>
                    <input type="button" id="btnShowCreate" value="Popup test" />
                </form>
            </div>
        </div>
    </div>
    @* design of modal popup *@
    <div class="container">
        <div class="modal fade" tabindex="-1" id="CreateGroupPopup" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create Group</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Group Name:</label>
                                <input class="form-control" type="text" placeholder="Enter a name" id="inputTeamName" />
                            </div>
                            <div class="form-group">
                                <label>Group Location:</label>
                                <input class="form-control" type="text" placeholder="Enter a city" id="inputCity" />
                            </div>
                            <div class="form-group">
                                <label>Group Address:</label>
                                <input class="form-control" type="text" placeholder="Enter an address" id="inputTeamAdress" />
                            </div>
                            <div class="form-group">
                                <label>Group Zipcode:</label>
                                <input class="form-control" type="text" placeholder="Enter a zipcode" id="inputTeamZipcode" />
                            </div>
                            <div class="form-group">
                                <label>Group Description:</label>
                                <input class="form-control" type="text" placeholder="Enter a description" id="inputDescription" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="btnCreate" class="btn btn-primary button button4">Create</button>
                        <button type="button" id="btnCancelCreate" class="btn btn-primary button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* en of design of modal popup *@
</body>
</html>