
@{
    ViewData["Title"] = "TeamPage";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <script src="~/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <link rel="stylesheet" a href="~/css/bootstrap.css" />

    <title>Teamspage | Teams</title>
    <style>
        .form {
            padding: 25px;
        }

        .top-row {
            background-color: #e6e6e6;
            padding: 10px;
        }

        .loginForm {
            padding: 5%;
        }

        .logo {
            height: 100%;
            width: 150px;
            background-color: grey;
            color: white;
            border: 1px solid grey;
            border-radius: 3px;
        }

        .header {
            padding-top: 5%;
        }

        .btnGroup {
            text-align: center;
        }

        .pre-inner {
            position: relative;
            overflow: hidden;
            width: 600px;
            margin: 0px auto 0px;
        }

        .pre-info {
           position: absolute;
           padding-top: 10px;
           padding-left: 20px;
           padding-bottom: 20px;
           bottom: -187px;
           transition: all 0.5s ease;
           background-color: rgba(57, 68, 97, 0.65);
           left: 0;
           right: 0;
        }

        .pre-inner:hover .pre-info {
           background-color: rgba(57, 68, 97, 0.65);
           bottom: 0; 
           height: 100%;
           width: 100%;
           color: #fff; 

        }

        .top-left {
          position: absolute;
          top: 8px;
          left: 16px;
          color: white;
        }

        .top-right {
          position: absolute;
          top: 8px;
          right: 16px;
          color: white;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="row top-row border rounded">
            <div class="col-2 text-center top-logo">
                <h3 class="logo">Squeduler</h3>
            </div>
            <div class="col-9 text-right">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Teams:
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <form class="Team">
                            <div class="form-group">
                                <label>Team code: </label><input type="text" class="form-control" id="teamCode" placeholder="      Example: FGT24HF">
                            </div>

                            <div class="btnGroup">
                                <button type="button" class="btn btn-outline-secondary btn-sm">Join</button>
                            </div>
                        </form>
                        <br />
                        <a class="dropdown-item" href="#">Blokker 1</a>
                        <a class="dropdown-item" href="#">Blokker 2</a>
                        <a class="dropdown-item" href="#">Blokker 3</a>
                    </div>
                </div>
            </div>
                <button type="button" class="btn btn-outline-secondary">Logout</button>


            </div>
        </div>
        <div class="row header">
            <div class="col text-center">
                <h3>Teampage</h3>
                <br />
                <h4>Create or join a team</h4>
                <p>To join a team: Press on the "Teams" button and type in the teamcode</p>
            </div>
        </div>
        <div class="row justify-content-center form">
            <div class="col-6">
                <div class="col-12">
                    <div class="pre-inner">
                        <img src="http://lorempixel.com/600/120/">
                        <div class="top-left">Name: Blokker 1</div>
                        <div class="top-right">Code: ABCDEF</div>
                        <a href="http://www.google.com">
                            <div class="pre-info">
                                <h4>Blokker 1: description</h4>
                                <span class="btn btn-light">Select team</span>
                            </div>
                        </a>
                    </div>
                </div>
                <br />
                <div class="col-12">
                    <div class="pre-inner">
                        <img src="http://lorempixel.com/600/120/">
                        <a href="http://www.google.com">
                            <div class="top-left">Name: Blokker 2</div>
                            <div class="top-right">Code: QWERTY</div>
                            <div class="pre-info">
                                <h4>Blokker 2: description</h4>
                                <span class="btn btn-light">Select team</span>
                            </div>
                        </a>
                    </div>
                </div>
                <br />
                <div class="col-12">
                    <div class="pre-inner">
                        <img src="http://lorempixel.com/600/120/">
                        <a href="http://www.google.com">
                            <div class="top-left">Name: Blokker 3</div>
                            <div class="top-right">Code: ASDFGH</div>
                            <div class="pre-info">
                                <h4>Bokker 3: description</h4>
                                <span class="btn btn-light">Select team</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        <div class="row footer">
            <div class="col text-center">
              
            </div>
        </div>
    </div>
</body>
</html>